<div class="wrap">
  <div class="dialogs-wrapper">
    <div class="dialogs-header">
      <h3>authUser.displayName</h3>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div *ngFor="let user of users$ | async" class="dialog">
        <app-chat-list [user]="user"></app-chat-list>
    </div>
  </div>
  <div class="right-side">
    <div class="right-side-header">
      <h3>currentUser.Name</h3>
      <p>...</p>
    </div>
    <div class="userMessage-wrapper">
      <app-message *ngFor="let msg of messages$ | async" [msg]="msg"></app-message>
    </div>
    <div class="wright-area">
<!--      <MessageArea @scrollMessages="scrollMessages()" :opponent="currentUser" :authUser="authUser" />-->
    </div>
  </div>
</div>
