.wrap {
  display: flex;
  .wright-area {
    .wright-wrapper {
      display: flex;
      justify-content: space-around;
      & mat-form-field{
        width: 60%;
        & textarea {
          resize: none;
        }
      }
      & .mat-card-avatar{
        border-radius: 0;
        & img{
          height: 50px;
          width: 50px;
          border-radius: 25%;
          border: 1px solid #a214dc;
        }
      }
    }
  }
}
