<div class="wrap">
  <div class="dialogs-wrapper">
    <div class="dialogs-header">
      <h3>authUser.displayName</h3>
      <button class="remake"></button>
    </div>
<!--    <ng-container class="dialog">-->
<!--&lt;!&ndash;      <ChatList  @showHistory="showHistory($event)" />&ndash;&gt;-->
<!--    </ng-container>-->
  </div>
  <div class="right-side">
    <div class="right-side-header">
      <h3>currentUser.Name</h3>
      <p>...</p>
    </div>
    <div class="userMessage-wrapper">
<!--      <ng-container>-->
<!--&lt;!&ndash;        <MessageItem v-if="messageData.length" :authUser="authUser" :msg="msg"/>&ndash;&gt;-->
<!--      </ng-container>-->
    </div>
    <div class="wright-area">
<!--      <MessageArea @scrollMessages="scrollMessages()" :opponent="currentUser" :authUser="authUser" />-->
    </div>
  </div>
</div>
