
.name-user {
  font-family: 'Teko', sans-serif;
  color: #292a38;
}

.wrap {
  display: flex;
  .wright-area {
    .wright-wrapper {
      display: flex;
      justify-content: space-around;
      & mat-form-field{
        width: 60%;
        & textarea {
          resize: none;
        }
      }
      & .mat-card-avatar{
        border-radius: 0;
        & img{
          height: 50px;
          width: 50px;
          border-radius: 25%;
          border: 1px solid #a214dc;
          opacity: 0.7;
        }
      }
    }
  }
  .dialogs-wrapper {
    .dialogs-header {
      background: #f3f3f3;
    }
  }
  .right-side {
    .userMessage-wrapper {
      &::-webkit-scrollbar {
        background-color: #b5bdcb;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: #292a38;
        border-radius: 20%;
      }
    }
  }
}
