<div class="wrap">
  <div class="dialogs-wrapper">
    <div class="dialogs-header">
      <h3 *ngIf="authUser$ | async as authUser">
        {{ authUser.displayName }}
      </h3>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div *ngFor="let user of users$ | async" class="dialog">
      <app-chat-list (chooseUser)="showDialogWithUser($event)" [user]="user"></app-chat-list>
    </div>
  </div>
  <div class="right-side">
    <div class="right-side-header">
      <h3 *ngIf="dialogCompanion">{{ dialogCompanion.info.displayName }}</h3>
      <p>...</p>
    </div>
    <div class="userMessage-wrapper"#scrollFrame (scroll)="onScroll($event)">
      <ng-container *ngIf="dialogCompanion">
        <app-message *ngFor="let msg of messages$ | async; trackBy: trackByFn" [msg]="msg"
                     #item
        [authUser]="authUser$ | async"
        ></app-message>
      </ng-container>
    </div>
    <div *ngIf="dialogCompanion" class="wright-area">
      <div class="wright-wrapper">
        <div mat-card-avatar
             class="example-header-image"
             *ngIf="authUser$ | async as authUser"
             (click)="openProfileAuthUser()"
        >
          <img [src]="authUser.photoURL" alt="Photo of a Shiba Inu">
        </div>
        <mat-form-field>
          <textarea
            matInput
            [formControl]="messageControl"
            (keydown.enter)="messageControl.valid ? sendMessage() : null"
            placeholder="Wright a message"></textarea>
        </mat-form-field>
        <div mat-card-avatar
             class="example-header-image"
             (click)="openProfileCompanion()"
        >
          <img [src]="dialogCompanion.info.photoURL" alt="Photo of a Shiba Inu">
        </div>
      </div>
    </div>
  </div>
</div>
