.mat-card{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 2px 0;
  cursor: pointer;
  transition: 0.8s;
  & .mat-card-header{
    display: flex;
    justify-content: space-between;
    & .mat-card-avatar{
      border-radius: 0;
      & img{
        height: 60px;
        width: 60px;
        border-radius: 20%;
      }
    }
  }
  &:hover{
    transition: 0.8s;
    background: rgba(103, 58, 183, 0.6);
    .mat-card-header,.mat-card-title, .mat-card-content, .mat-card-subtitle{
      transition: 0.8s;
      color: #f1f0f0;
    }
  }
  & .mat-card-title{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
