<div class="container">
  <div class="login-wrapper">
    <mat-card>
      <form>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
      </form>
      <div class="button-wrapper">
        <button mat-flat-button color="primary"
                aria-label="Example icon button with a delete icon"
                (click)="login()">
          Login With Google
        </button>
        <button mat-flat-button color="primary"
                aria-label="Example icon button with a delete icon">
          Login With Facebook
        </button>
      </div>
    </mat-card>
  </div>
</div>
