<div class="container">


  <div *ngIf="!(authUser$ | async); else notAuth" class="login-wrapper">
    <mat-card>
      <form class="form" [formGroup]="registerForm">
        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput placeholder="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="password" matInput placeholder="password">
        </mat-form-field>
      </form>
      <div class="button-wrapper">
        <div class="create-new">
          <span class="create-text">create new</span>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>accessibility</mat-icon>
          </button>
        </div>
        <button mat-flat-button color="primary"
                aria-label="Example icon button with a delete icon"
                (click)="login()">
          Login With Google
        </button>
        <button mat-flat-button color="primary"
                aria-label="Example icon button with a delete icon">
          Login With Facebook
        </button>
      </div>
    </mat-card>
  </div>

 <ng-template #notAuth>
   <div>КОГДА ЮЗЕР УЖЕ АВТОРИЗИРОВАН</div>
 </ng-template>

  <ng-template #loader>
    <mat-spinner color="warn"></mat-spinner>
  </ng-template>


</div>
