<ng-container [ngSwitch]="data">

  <ng-template ngSwitchCase="contacts">

    <div class="contacts-wrapper">
      <div class="search-wrapper">
        <h1 mat-dialog-title>{{ data }}</h1>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div mat-dialog-content>
        <div class="el" *ngFor="let user of fakeArray">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                <img [src]="user.img" alt="">
              </div>
            </mat-card-header>
            <div class="content-wrapper">
              <mat-card-title>{{ user.name }}</mat-card-title>
              <mat-card-subtitle>
                <p>{{ user.online }}</p>
              </mat-card-subtitle>
            </div>
          </mat-card>
        </div>
      </div>
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
      </div>
    </div>

  </ng-template>

  <ng-template ngSwitchCase="create new group">
    <div class="group-wrapper">
      <div class="search-wrapper">
        <h1 mat-dialog-title>{{ data }}</h1>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="el" *ngFor="let user of fakeArray">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img [src]="user.img" alt="">
            </div>
          </mat-card-header>
          <div class="content-wrapper">
            <mat-card-title>{{ user.name }}</mat-card-title>
            <mat-card-subtitle>
              <p>{{ user.online }}</p>
            </mat-card-subtitle>
          </div>
        </mat-card>
      </div>
      <div class="btn-wrapper">
        <div mat-dialog-actions>
          <button mat-button mat-dialog-close>Close</button>
        </div>
        <div mat-dialog-actions>
          <button mat-button mat-dialog-close>Next</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template ngSwitchCase="info">
    <h1 mat-dialog-title>info</h1>
    <div mat-dialog-content>{{ data }}</div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </ng-template>

  <ng-template ngSwitchCase="settings">
    <h1 mat-dialog-title>settings</h1>
    <div mat-dialog-content>{{ data }}</div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </ng-template>

  <ng-template ngSwitchCase="log out">
    <h1 mat-dialog-title>log out</h1>
    <div mat-dialog-content>Are you sure?</div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="mat-primary" (click)="logOut()">LogOut</button>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </ng-template>

  <ng-template ngSwitchDefault>
    <h1 mat-dialog-title>404 goodbye</h1>
    <div mat-dialog-content></div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </ng-template>
</ng-container>
