<<<<<<< HEAD
@import "../../../../assets/shared-styles/mixins";

::ng-deep .mat-dialog-container {
  background: linear-gradient(0deg, rgba(255,255,255,1) 377px, rgba(0,212,255,1) 0) !important;

  & .mat-dialog-title {
    margin: 0;
  }
}
=======

>>>>>>> d52e853c527a13dc1a2d9be6e42af422c6f25b23
.mat-card {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 2px 0;
  cursor: pointer;
  transition: 0.8s;

  & .mat-card-header {
    display: flex;
    justify-content: space-between;

    & .mat-card-avatar {
      border-radius: 0;

      & img {
        height: 50px;
        width: 60px;
        border-radius: 20%;
      }
    }
  }

  &:hover {
    transition: 0.8s;
    background: rgba(103, 58, 183, 0.6);

    .mat-card-header, .mat-card-title, .mat-card-content, .mat-card-subtitle {
      transition: 0.8s;
      color: #f1f0f0;
    }
  }

  & .mat-card-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  .mat-form-field {
    text-align: center;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.info {
  position: relative;
  margin: 0;
  & .project-info {
    width: 470px;
    margin-bottom: 100px;
    display: flex;

    &__img {
      width: 72px;
      height: 72px;
      margin-right: 30px;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &__name {
      align-self: flex-end;
      & h1 {
        @include font-base(20px, 600);
      }
      & h4 {
        opacity: .6;
      }
    }
  }
  & .example-icon {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    & mat-icon {
      width: 35px;
      font-size: 35px;
    }
  }
  & .project-details {
    width: 370px;
    margin-left: auto;
    margin-bottom: 30px;
    & h3 {
      @include font-base(18px, 400);
      margin-bottom: 15px;
    }
    & .block {
      display: flex;
      justify-content: space-between;
    }
    & .insta-bloc {
      width: 52%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & a {
        @include font-base(30px, 400);
        text-decoration: none;
        color: black;
      }
      & img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
